django==4.1.1
django-rq==2.7.0
rq==1.12.0
rq_scheduler==0.13.0
python-decouple==3.6
djangorestframework==3.13.1
django-filter==22.1
drf-spectacular==0.24.2
gunicorn==20.1.0
psycopg2-binary
requests
typer
geojson
overpass
geopandas
haversine
gtfs-realtime-bindings==1.0.0